<div>
  <br />
  <mat-card>
    <section class="mat-typography">
      <h3>Create New Product</h3>
    </section>
    <mat-divider></mat-divider>
    <br />
    <div class="create-form">
      <mat-form-field class="field-full-width full-field">
        <input matInput placeholder="name" [(ngModel)]="data.name" />
      </mat-form-field>
      <br />
      <mat-form-field class="field-full-width full-field">
        <input matInput placeholder="category" [(ngModel)]="data.category" />
      </mat-form-field>
      <br />
      <mat-form-field class="field-full-width full-field">
        <input
          matInput
          placeholder="description"
          [(ngModel)]="data.description"
        />
      </mat-form-field>

      <mat-divider></mat-divider>
      <br /><br />
      <button
        type="submit"
        [mat-dialog-close]="data"
        (click)="addUser(data.name)"
        mat-raised-button
        color="primary"
      >
        Add
      </button>
    </div>
  </mat-card>
</div>
