


<div>
  <br>
  <mat-card>
    <section class="mat-typography">
      <h3>Edit Product</h3>
    </section>
    <mat-divider></mat-divider>
    <br>
    <div class="create-form">
      <mat-form-field class="field-full-width full-field">
        <input matInput placeholder="name" [(ngModel)]="productdata.name">

      </mat-form-field>
      <br>
      <mat-form-field class="field-full-width full-field">
        <input matInput placeholder="category" [(ngModel)]="productdata.category" >
      </mat-form-field>
      <br>
      <mat-form-field class="field-full-width full-field">
          <input matInput placeholder="description" [(ngModel)]="productdata.description" >
        </mat-form-field>
      
      
      <mat-divider></mat-divider>
      <br><br>
      <button type="submit" [mat-dialog-close]="productdata" (click)="editUser(userdata)"  mat-raised-button color="primary">Edit</button>
    </div>
  </mat-card>
</div>