<div class="jumbotron mx-auto">
  <h1 class="display-4">User Details</h1>
  <button type="button" class="btn btn-primary" (click)="openDialog()">
    Add new user
  </button>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm mb-2">
      <h4>Name</h4>
    </div>
    <div class="col-sm mb-2">
      <h4>Phone</h4>
    </div>
    <div class="col-sm mb-2">
      <h4>Place</h4>
    </div>

    <div class="col-sm mb-2">
      <h4>Action</h4>
    </div>
  </div>
</div>

<div *ngIf="showTable">
  <ul class="list-group" *ngFor="let user of userlist">
    <div class="container">
      <div class="row">
        <div class="col-sm mb-2">
          {{ user.name }}
        </div>
        <div class="col-sm mb-2">
          {{ user.phone }}
        </div>
        <div class="col-sm mb-2">
          {{ user.location }}
        </div>

        <div class="col-sm mb-2">
          <span class="badge badge-primary badge-pill" (click)="editUser(user)"
            >edit</span
          >
          <span
            class=" ml-2 badge badge-primary badge-pill"
            (click)="deleteUser(user)"
            >delete</span
          >
        </div>
      </div>
    </div>
  </ul>
</div>
